*{
    font-family: sans-serif;
}
body{
    background-color: rgba(225, 225, 225, 1);
    padding-top: 40px;
}
#imgme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 400px;
}
#social{
    margin-top: 2em;
    margin-left: 40em;
    margin-right: 40em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
a > img{
    width: 2em;
}
button{
    margin: auto;
    display: block;
    background-color: black;
    color: white;
    padding: 1em;
    border: 0;
    border-radius: 2em;
    box-shadow: inset;
}
#name{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}
p{
    text-align: center;
    text-justify: distribute;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 1.5em;
}
hr{
    margin-top: -0.3em;
    margin-bottom: -0.3em;
}
#skills{
    margin-left: 30em;
    margin-right: 30em;
}
#skills-img11{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}
div > div > img{
    width: 3em;
}
#copyright{
    margin-top: 5em;
    text-align: center;
    font-weight: 500;
}